#SLIDE9 .future {
    text-align: center;
}

#SLIDE9 .subtitle {
    margin-top: 20px;
    font-size: 14px;
    opacity: 0;
}

#SLIDE9 .prompt {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 12px;
    opacity: 0;
}

#SLIDE9 .arrow {
    color: #00ff00;
    text-shadow: 0 0 8px #00ff00;
}

#SLIDE9 .text {
    letter-spacing: 2px;
}