#SLIDE7 {
    overflow: hidden;
}

#SLIDE7 .party-photo {
    position: absolute;
    width: 180px;
    height: 120px;
    object-fit: cover;

    border: 3px solid #fff;
    box-shadow: 4px 4px 0 #000;

    opacity: 0;
}