#SLIDE6 {
    flex-direction: column;
}

#SLIDE6 .party-photos {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    width: max-content;
    will-change: transform;
    margin-top: 80px;
}

#SLIDE6 .c_photo {
    height: 300px;
    width: auto;
    object-fit: cover;
    flex-shrink: 0;

    border: 2px solid #fff;
    box-shadow: 4px 4px 0 #000;

    opacity: 0;
}