.SLIDE5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.SLIDE5 .title {
    margin-bottom: 40px;
    text-align: center;
    z-index: 10;
}

.SLIDE5 .subtitle {
    margin-top: 30px;
    color: var(--px-muted);
}

.SLIDE5 .team-field {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    width: max-content;
    will-change: transform;
    /* Center vertically if needed */
    margin-top: 50px;
}

.SLIDE5 .c_photo {
    height: 300px;
    /* SAME SIZE for all */
    width: auto;
    object-fit: cover;
    flex-shrink: 0;

    border: 4px solid #fff;
    box-shadow: 4px 4px 0 #000;
    image-rendering: pixelated;

    opacity: 0;
    visibility: hidden;
}

/* Remove Grid Styles */
.SLIDE5 .c_photo:nth-child(n) {
    grid-column: auto;
    grid-row: auto;
}