#SLIDE8 .summary {
    max-width: 700px;
}

#SLIDE8 .stats {
    list-style: none;
    margin-top: 40px;
}

#SLIDE8 .stats li {
    font-size: 20px;
    margin-bottom: 16px;
    opacity: 0;
}

#SLIDE8 .num {
    color: #00ffcc;
    text-shadow: 0 0 6px #00ffcc;
}