@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@import url("./utils.css");
@import url("./components.css");
@import url("./sections/_main.css");

:root {
    --px-bg: #000099;
    --px-text: #e5e7eb;
    --px-accent: #0000ff;

    --px-muted: #9ca3af;
    --px-shadow:
        4px 4px 0 #000;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* ❗ GSAP управляет */
}

body {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;

    background: var(--px-bg);
    color: var(--px-text);

    image-rendering: pixelated;
}

/* ===== Slider ===== */
.slider {
    position: relative;
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    /* ❗ обязательно */
}

.slider-track {
    position: absolute;
    inset: 0;

    display: flex;
    flex-direction: column;
    /* вертикальный слайдер */
    will-change: transform;
}

.slider-track .slide {
    height: 100vh;
    width: 100vw;

    display: flex;
    /* align-items: center;
    justify-content: center; */

    padding: 60px 40px 40px 40px;

    position: relative;
    /* можно */
    flex-shrink: 0;

    outline: 2px solid red;
}

#controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

#play-pause-btn svg {
    shape-rendering: crispEdges;
}