.u_font-p2 {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.u_pixel-bg {
    position: absolute;
    inset: 0;
    background-color: #0000ff;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
    background-size: 16px 16px;
    pointer-events: none;
}

.char {
    display: inline-block;
    will-change: transform;
}

.subtitle {
    margin-top: 24px;
}

.pixel-snow {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.snow-dot {
    position: absolute;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    pointer-events: none;
    z-index: 5;
}

.bg_image {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#tomorrow_school {
    background-image: url("../img/TS\ Logo.png");
    width: 200px;
    height: 200px;
}

#astana_hub {
    background-image: url("../img/AstanaHub\ Logo.png");
    width: 200px;
    height: 200px;
}